.row
  .col-md-6.col-sm-6.col-xs-12.col-sm-offset-4
    .grid_discover
      .grid_d1
        = link_to image_tag('/assets/160_160pc.png', class: "categorycover"), reviews_path(category_name: "家電・スマホ・カメラ")
      .grid_d2
        = link_to "家電・スマホ・カメラ", reviews_path(category_name: "家電・スマホ・カメラ")
      .grid_d3
        = link_to image_tag('/assets/160_160cosme.png', class: "categorycover"), reviews_path(category_name: "コスメ・香水・美容")
      .grid_d4
        = link_to "コスメ・香水・美容", reviews_path(category_name: "コスメ・香水・美容")
      .grid_d5
        = link_to image_tag('/assets/160_160sports.png', class: "categorycover"), reviews_path(category_name: "スポーツ・レジャー")
      .grid_d6
        = link_to "スポーツ・レジャー", reviews_path(category_name: "スポーツ・レジャー")
      .grid_d7
        = link_to image_tag('/assets/160_160toy.png', class: "categorycover"), reviews_path(category_name: "おもちゃ・ホビー・グッズ")
      .grid_d8
        = link_to "おもちゃ・ホビー・グッズ", reviews_path(category_name: "おもちゃ・ホビー・グッズ")
      .grid_d9
        = link_to image_tag('/assets/160_160book.png', class: "categorycover"), reviews_path(category_name: "本・音楽・ゲーム")
      .grid_d10
        = link_to "本・音楽・ゲーム", reviews_path(category_name: "本・音楽・ゲーム")
      .grid_d11
        = link_to image_tag('/assets/160_160interior.png', class: "categorycover"), reviews_path(category_name: "インテリア・住まい・小物")
      .grid_d12
        = link_to "インテリア・住まい・小物", reviews_path(category_name: "インテリア・住まい・小物")
      .grid_d13
        = link_to image_tag('/assets/160_160fashion.png', class: "categorycover"), reviews_path(category_name: "ファッション")
      .grid_d14
        = link_to "ファッション", reviews_path(category_name: "ファッション")
      .grid_d15
        = link_to image_tag('/assets/160_160fsake.png', class: "categorycover"), reviews_path(category_name: "食・お酒")
      .grid_d16
        = link_to "食・お酒", reviews_path(category_name: "食・お酒")
