- if user_signed_in?
  = link_to new_review_comment_path(review.id), class: "btn btn-link btn-xs ", remote: true do
    span
      i.far.fa-comment
        = review.comments.count
- else
  span
    i.far.fa-comment
      = review.comments.count
