<ul>
    <% if current_user != nil %>
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
            <li>
              <%= link_to "#{comment.user.name}", user_path(comment.user.id) %>
            <%= comment.content %>
            <% if comment.user_id == current_user.id %>
              <%= link_to 'コメントを削除する', review_comment_path(comment.review_id, comment.id), method: :delete, remote: true %>
            </li>  
            <% end %>
        <% end %>
      <% end %>
    <% end %>
</ul>