<ul class="margin_padding_0">
    <% if current_user != nil %>
      <% comments.each do |comment| %>
        <% unless comment.id.nil? %>
            <li>
              <span class="comment"><%= link_to "#{comment.user.name}", user_path(comment.user.id) %></span>
            <%= comment.content %>
            <% if comment.user_id == current_user.id %>
              <%= link_to '', review_comment_path(comment.review_id, comment.id),method: :delete, remote: true %>
              <i class="fa fa-close"></i>
            </li>  
            <% end %>
        <% end %>
      <% end %>
    <% end %>
</ul>