span.like
  - if review.iine?(current_user)
    = form_for(review.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f|
      = f.button class: "btn btn-link btn-xs" do
        = content_tag :span, review.likes_count.to_s, style: "color:red", class: "far fa-heart"
  - else
    = form_for(review.likes.build, remote: true) do |f|
      div
        = f.hidden_field :review_id, value: review.id
      = f.button class: "btn btn-link btn-xs" do
        = content_tag :span, review.likes_count.to_s, class: 'far fa-heart'
