<ul>
 <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">フォローしているユーザー数
      <%= @user.followings.count %>
    </strong>
  </a>
</div>
<div class="stats">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">フォローされているユーザー数
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
</ul>