<div class="FollowCountContainar">
  <% @user ||= current_user %>
  <div class="stats">
    <a href="<%= following_user_path(@user) %>">
      <span class="FollowCount"><%= @user.followings.count %></span>
      <span class="stat">フォロー</span>
    </a>
  </div>
  <div class="stats">
    <a href="<%= followers_user_path(@user) %>">
      <span class="FollowCount"><%= @user.followers.count %></span>
      <span class="stat">フォロワー</span>
    </a>
  </div>
</div>