
</br>
</br>
</br>
</br>



<% @user.followings.each do |user| %>
<table>
<tr>
  <td>  <%= user.name %> </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>



<% if @user.id == current_user.id %>
              <div class="row">
              <div class="col-sm-8">
                <div class="row multi-columns-row post-columns">
                <h2>自分がフォローしている人の投稿一覧</h2>
                  <% if @feed_items.any? %>
                    <ol class="reviews">
                      <%= render @feed_items %>
                    </ol>
                  <% end %>
                </div>  
              </div>
              </div>
              <% else %>
              <% end %>