section#demos.module-medium
  .container
    .row
      h1
        | フォローしている人一覧
      - @user.followings.each do |user|
        .row.bottom
          .col-sm-1
            - if user.provider == 'facebook'
              = image_tag user.icon, class: 'img-circle', alt: 'icon', size: '100x100'
            - else
              = image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', class: 'img-circle', alt: 'icon', size: '100x100')
          .col-sm-1
            = link_to user.name, user_path(user)
          .col-sm-8
            = user.profile
