    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 col-xs-12">  
<div class='content'>
  <div id="search-box">
    <%= form_tag('/books/serch', method: :get) do %>
    <div class="input-group">
        <%= text_field_tag :book, "",  id: "book_search", name: "keyword", placeholder: "商品名を入力してください", class: "search-box" %>
        <span class="input-group-btn">
        <%= button_tag '検索', class: 'btn btn btn-primary' %>
        </span>
        </div>
    <% end %>
    <h2>検索結果</h2>
  </div>
</div>
</div>
</div>
</div>
  
  <div id='book_list'>
   <%= render partial: 'book_list' %>
  </div>

