
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head><body>

  <section class="main-header">


  </section>
<div class="cp_cssslider">
<div class="cp_slidewrapper">
<div class="cp_slide_item"><img src="assets/tano.jpg"></div>
<div class="cp_slide_item"><img src="assets/tano.jpg"></div>
<div class="cp_slide_item"><img src="assets/tano.jpg"></div>
<div class="cp_slide_item"><img src="assets/tano.jpg"></div>
<div class="cp_slide_item"><img src="assets/tano.jpg"></div>
</div>
</div>
  
  <section class="about">
    <h1>図書館アプリ</h1>
  </section>
  <section class="function">
    <h1>使い方</h1>
    <div class="function-images">
      <div class="function-image">
        
        <p>1.登録する</br>アプリの利用には会員登録が必要です。</p>
      </div>
      <div class="function-image">
        
        <p>2.本を探す</br>借りたい本があるかどうか検索してください。</p>
      </div>
      <div class="function-image">
        
        <p>３.予約する</br>借りたい本が見つかったら予約してください。</p>
      </div>
      <div class="function-image">
        
        <p>4.リクエストする</br>借りたい本がない場合、リクエストを送信してください。</p>
      </div>
    </div>
  </section>
  <footer>
        <ul>
<li>id:admin@example.com</li>
<li>pass:password</li>
</ul>

  </footer>
</body>
</html>