.editorFunctionButton {
    margin-top: 10px;
}

.categoryForm {
    margin-left: 16px;
}

.categorySlector {
    cursor: pointer;
}

input[type=text].review-title {
    font-size: 2.5rem;
    font-weight: bold;
    border: 0px !important;
}

textarea.review-content {
    font-size: 2rem;
    resize: none;
    border: 0px !important;
    height: 400px;
}

#select_images {
    border-radius: 50%;
    padding: auto auto;
    border: 0px;
    background-color: #c9c9c9;
    color: white;
    padding: 10px 10px;
    margin-bottom: 25px;
    cursor: pointer;
    outline: none;
  }