<p><%= @resource.email %> 様</p>

<p>いつもイチオシ！をご利用いただきありがとうございます。</p>

<p>パスワードを再設定する場合は下記リンクから設定して下さい</p>

<p><%= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがなければ無視して下さい</p>

<p>ISHIOSHI運営チーム</p>
<a href="https://goo.gl/forms/QzygIRY5UlgtNqYm1">お問い合わせ</a>

