
      <div class="col-md-3 col-sm-12 col-xs-12">  
      <div class="waku">
          <div class="row">
            <div class="col-sm-12">
      <%= image_tag(review.image.url, :class => "fit-img") if review.image.url %>
      </div>
    <div class="col-sm-12">
    <div class="post-header font-alt">
      <h2 class="post-title"><%= review.title %></h2>
      </div>
      <div class="col-sm-12">
      <div class="post-meta">By&nbsp;| 23 November | 3 Comments
      </div>
      </div>
    </div>
    <div class="col-sm-12">
    <div class="post-entry">
      <p>review</p>
    </div>
    </div>
  </div>
  </div>
</div>
