div[data-turbolinks="false"]
  .container
    - if params[:tag]
      - header_tag = params[:tag]
      h1
        = header_tag
    - elsif params[:category_name]
      - category_name = params[:category_name]
      h1
        = category_name
        | のレビュー一覧
    - else
      h1
        | レビュー一覧
    .row
      .row
        - @review.order("created_at DESC").each do |review|
          .col-md-12.col-sm-12.col-xs-12
            .col-md-3.col-sm-12.col-xs-12
            .col-md-6.col-sm-12.col-xs-12
              .waku
                .grid.spbodyfont
                  .topicon
                    - if review.user.provider == 'facebook'
                      = image_tag review.user.icon, class: 'img-circle', alt: 'icon', size: '70x70'
                    - else
                      = image_tag('https://s3-ap-northeast-1.amazonaws.com/tamtim/uploads/default.png', class: 'img-circle', alt: 'icon', size: '70x70')
                  .grid1
                    = link_to review.title.truncate(19), review_path(review.id), class: 'comment'
                  .grid2
                    = link_to review.user.name, user_path(id: review.user.id), class: 'postname'
                = render partial: 'reviews/card', locals: { review: review }
