<h1>レビュー一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @review.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.content %></td>
    <td><%= link_to '詳細を確認する', review_path(review.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'レビュー作成', new_review_path %>